<div class="image-slider">
    <img class="logo__image" src="https://cdn.shopify.com/s/files/1/0669/5721/3741/files/5887f34f8a81db7e931448096ccc9383_1.png?v=1740542597" alt="{{ shop.name }}">
  <img class="logo__image" src="https://cdn.shopify.com/s/files/1/0669/5721/3741/files/5887f34f8a81db7e931448096ccc9383_1.png?v=1740542597" alt="{{ shop.name }}">
  <img class="logo__image" src="https://cdn.shopify.com/s/files/1/0669/5721/3741/files/5887f34f8a81db7e931448096ccc9383_1.png?v=1740542597" alt="{{ shop.name }}">
  <img class="logo__image" src="https://cdn.shopify.com/s/files/1/0669/5721/3741/files/5887f34f8a81db7e931448096ccc9383_1.png?v=1740542597" alt="{{ shop.name }}">
  <img class="logo__image" src="https://cdn.shopify.com/s/files/1/0669/5721/3741/files/5887f34f8a81db7e931448096ccc9383_1.png?v=1740542597" alt="{{ shop.name }}">
  <img class="logo__image" src="https://cdn.shopify.com/s/files/1/0669/5721/3741/files/5887f34f8a81db7e931448096ccc9383_1.png?v=1740542597" alt="{{ shop.name }}">
</div>